.content {
    position: absolute;
    width: 900px;
    height: 720px;
    right: 5%;
    top: 8%;
    background-color: black;
    opacity: 0.8;
}

.contactme {
    position: absolute;
    display: inline-block;
    margin-top: 25px;
    margin-left: 47px;
    width: 800px;
    height: 600px;
    color: white;
    font-size: 22px;
    text-align: justify;
    font-family: Verdana;
}

.inputtext {
    width: 55%;
    height: 65px;
    border: 3px solid white;
    color: white;
    background-color: rgba(0,0,0,0.9);
    font-size: 20px;
    padding-left: 5px;
}

#title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 55px;
}

#typeofmessage {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
    transform: scale(1.2);
}

.types {
    margin-right: 15px;
}

#inputmessage {
    margin-top: 25px;
    margin-bottom: 60px;
    width: 55%;
    height: 150px;
    border: 3px solid white;
    color: white;
    background-color: rgba(0,0,0,0.9);
    font-size: 20px;
    padding-left: 5px;
}

#submit, #mail {
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    color: white;
    background-color: rgba(0,0,0,0.9);
    font-size: 20px;
}

#submit {
    height: 50px;
    width: 200px;
}

#mail {
    padding-top: 10px;
    display: inline-block;
    position: absolute;
    margin-right: 0;
    margin-left: 190px;
    width: 400px;
    height: 35px;

}



#submit:hover, #mail:hover {
    background-color: rgba(255,255,255,0.9);
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

